.card>a {
  box-shadow: inset 0 0 30 0 #007BFF;
  color: #007BFF;
    padding: 0 .25rem;
    margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.card a:hover {
  color: #fff;
  box-shadow: inset 300px 0 0 0 #007BFF;
}

.page {
  width: 55px;
  height: 50px;
  background-color: #007BFF;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #fff;
  margin: 0 auto;
}

.message {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}